
<% if @all_stocks.empty? %>
    <p>There are no stocks available.</p>
<% else %>
    <h1 class="text-success">Stocks to buy</h1>
    <table class="table table-responsive-sm">
        <thead class="thead-dark">
            <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Last Price</th>
            <th>Broker</th>
            <th>Action</th>
            </tr>
        </thead>

        <tbody class="text-white">
            <% @all_stocks.each do |stock| %>
            <tr>
                <td><%= stock.ticker %></td>
                <td><%= stock.name %></td>
                <td><%= number_to_currency(stock.last_price) %></td>
                <td class="text-primary"><%= stock.brokers.first.broker_name %></td>
                <td><%= link_to 'Buy Stock', buyer_stock_path(stock, broker_id: stock.added_by, stock_id: stock.id), method: :get, class: "btn btn-success" %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% end %>