<h1 class="text-success">Buyer Transactions</h1>

<% if @transactions.empty? %>
    <p>You have not bought any stocks yet.</p>
<% else %>
    <table class="table table-responsive-sm">
        <thead class="thead-dark">
            <tr>
            <th>Date Purchased</th>
            <th>Ticker</th>
            <th>Company</th>
            <th>Broker</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Cost</th>
            </tr>
        </thead>

        <tbody class="text-white">
            <% @transactions.each do |stock| %>
            <tr>
                <td><%= stock.created_at.to_formatted_s(:long) %></td>
                <td><%= stock.ticker %></td>
                <td><%= stock.company_name %></td>
                <td class="text-primary"><%= stock.broker_name %></td>
                <td><%= number_to_currency(stock.stock_price) %></td>
                <td><%= stock.quantity %></td>
                <td><%= number_to_currency((stock.quantity).to_i * (stock.stock_price).to_f) %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

<%= button_to "Back", buyer_index_path, {method: 'get', class: "btn btn-sm btn-secondary"} %>