<% if @stock %>

<div class="card shadow text-dark mb-3 p-2" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4 text-center">
      <img src="<%= @stock.logo %>" class="card-img rounded" alt="...">
      <h5 class="card-title mt-2"><%= @stock.ticker %></h5>
    </div>
    <div class="col-md-8">
      <div class="card-body animate__animated animate__fadeIn">
        <h5 class="card-title"><%= @stock.name %></h5>
        <p class="card-text">Last Price: <%= number_to_currency(@stock.last_price) %></p>
        <div class="mt-2 animate__animated animate__fadeIn">
          <% if current_broker.can_add_stock?(@stock.ticker, current_broker.id) %>
              <%= button_to 'Add stock', broker_stocks_path(broker: current_broker, ticker: @stock.ticker), method: :post, class: "btn btn-lg btn-success" %>
          <% else %>
              <p class="text-dark">Stock already added.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>


