<h1 class="text-primary">Broker Portfolio</h1>
<% if @added_stocks.empty? %>
    <p>You do not have any stocks yet.</p>
<% else %>
    <table class="table table-responsive-sm">
        <thead class="thead-dark">
            <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Last Price</th>
            <th>Actions</th>
            </tr>
        </thead>

        <tbody class="text-white">
            <% @added_stocks.each do |stock| %>
            <tr>
                <td><%= stock.ticker %></td>
                <td><%= stock.name %></td>
                <td><%= number_to_currency(stock.last_price) %></td>
                <% name = stock.name %>
                <% ticker = stock.ticker %>
                <td><%= link_to "Delete", broker_stock_path(stock), method: :delete, data: {title: 'Delete ' + ticker + ' ' + name, confirm: "Are you sure?"}, class: "btn btn-danger" %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

<%= button_to "Back", broker_index_path, {method: 'get', class: "btn btn-sm btn-secondary"} %>
