
<div class="container text-primary mt-2">
  <div class="row">
          
   <div class="col-lg-6 col-sm-12 mb-5">
        <h1>Edit Broker <%= @broker.broker_name %></h1>

        <%= form_for @broker, :url => {:action => "edit_broker"}, class: "form-signin" do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
            <%= f.label :broker_name %>
            <%= f.text_field :broker_name, class: "form-control" %>
            <%= f.submit "Edit Broker", class: "btn btn-lg btn-primary btn-block mt-3" %>
        <% end %>

        <%= button_to "Back to Users", admin_users_path, {method: 'get', class: "btn btn-lg btn-secondary mt-5"} %>
   </div>
      
   <div class="col-lg-6 col-sm-12 p-5">
        <%= image_tag ('broker.svg') %>
   </div>
  
  </div>
</div>