<div class="container text-success mt-2">
  <div class="row">
          
   <div class="col-lg-6 col-sm-12 mb-5">
        <h1>Create a new Buyer</h1>

        <%= form_for @buyer, :url => {:action => "new_buyer"}, class: "form-signin" do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
            <%= f.submit "Create Buyer", class: "btn btn-lg btn-success btn-block mt-3" %>
        <% end %>
   </div>
      
   <div class="col-lg-6 col-sm-12 p-5">
        <%= image_tag ('buyer.svg') %>
   </div>
  
  </div>
</div>