<div class="text-center">
<h1 class="text-primary">Broker <%= @broker.broker_name %></h1>
</div>

<table class="table mt-3">
    <thead class="bg-primary text-white">
        <tr>
        <th>Broker ID</th>
        <th>Broker Name</th>
        <th>Broker Email</th>
        <th>Broker Created At</th>
        <th>Number of Stocks Added</th>
        <th>Edit</th>
        </tr>
    </thead>
    <tbody class="text-white">
        <tr>
        <td><%= @broker.id %></td>
        <td><%= @broker.broker_name %></td>
        <td><%= @broker.email %></td>
        <td><%= @broker.created_at.to_formatted_s(:long) %></td>
        <td class="text-center"><%= @broker.stocks.count %></td>
        <td class="text-center"><%= link_to "", edit_broker_path(@broker), class: "fas fa-edit text-primary" %></td>
        </tr>
    </tbody>
</table>

<%= button_to "Back to Users", admin_users_path, {method: 'get', class: "mt-5 btn btn-lg btn-secondary"} %>