<li><%= link_to "Stocks", broker_index_path %></li>
<li><%= link_to "Portfolio", broker_portfolio_path %></li>
<li><%= link_to "Transactions", broker_transactions_path %></li>
<li class="menu_account_icon">
    <a
    id="navbarDropdownMenu"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    >
    <i class="fas fa-user-circle fa-lg"></i
    ></a>
    <div
    class="dropdown-menu dropdown-info"
    aria-labelledby="navbarDropdownMenu"
    >
    <div class="text-primary px-2 w-auto">
    <h5 class="text-primary">Broker Account:</h5>
    <p><%= current_broker.email %></p>
    </div>
    <%= link_to "Edit Account", edit_broker_registration_path, class: "text-dark dropdown-item" %>
    <%= link_to "Sign out", destroy_broker_session_path, class: "text-dark dropdown-item", method: :delete %>
    </div>
        <li class="menu_account">
            <%= link_to "Edit Account", edit_broker_registration_path, id: "menu_hover", class: "text-white" %>
        </li>
        <li class="menu_account">
            <%= link_to "Sign out", destroy_broker_session_path, class: "text-white", id: "menu_hover", method: :delete %>
        </li>
        <li class="menu_account mt-2">
            <h5 class="text-primary">Broker Account: <%= current_broker.email %></h5>
        </li>
</li>